.wrapper
    background: linear-gradient(95.3deg, #B0B0B0 -1.64%, #000000 99.31%), linear-gradient(278.04deg, #4F6CD4 -47.37%, #7E4F86 132.41%)
    background-blend-mode: soft-light, normal
    height: 470px
    margin-top: 30px
    .container
        margin: 0 20px 0 20px
        color: #ffffff
        padding-top: 30px
        .category
            margin-top: 30px
            background: #4127b980
            padding: 5px 16px
            border-radius: 23px
            font-family: Montserrat Regular
            font-style: normal
            font-weight: 500
            font-size: 12px
            line-height: 15px
        .title
            margin-top: 6px
            display: block
            font-family: Montserrat ExtraBold
            font-style: normal
            font-weight: 800
            font-size: 24px
            line-height: 114.4%
        .params
            margin-top: 6px                   
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 114.4%
    .images
        transition: opacity .5s
        position: relative
        margin-top: 26px
        opacity: 0    
        &.ready
            opacity: 1
        .firstImg
            position: absolute
            top: 48px
            left: 0
        .secondImg
            position: absolute
            top: 0
            right: 0                    